<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Category</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
</head>
<body>
<div class="container">
    <h1>New Category</h1>
    <form action="/categories" method="post">
        <div class="form-group">
            <label for="libelle">Libelle</label>
            <input type="text" name="libelle" id="libelle" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Create Category</button>
    </form>
</div>
</body>
</html>
